/* set default namespace to XUL */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* remove Go button from location bar */
/*#go-button-stack,
.search-go-button-stack {
	display: none !important;
}*/

/* remove magnifying glass button from search box*/
/*.search-go-button-stack {
	display: none !important;
}*/

/* remove the throbber */
/*#throbber-box {
	display: none !important;
}*/

/* remove Back, Forward and/or Stop buttons when inactive */
/*#back-button[disabled="true"],
#forward-button[disabled="true"],
#stop-button[disabled="true"] {
	display: none !important;
}*/

/* restore Previous/Next buttons in quick find bar */
#FindToolbar > * {
	display: -moz-box;
}

/* make the active tab wider */
tab[selected="false"] {
	min-width: 100px !important;
}
tab[selected="true"] {
	min-width: 150px !important;
}

/* make inactive tabs partially transparent */
#content tab:not([selected="true"]) {
	-moz-opacity: 0.5 !important;
}

/* show keyword input box when adding a bookmark */
#keywordRow {
	display: -moz-grid-line !important;
}

/* collapse bookmarks toolbar by default; expand on hover */
#PersonalToolbar {
	display: none;
}
#navigator-toolbox:hover > #PersonalToolbar {
	display: -moz-box;
}

/* remove text from bookmarks toolbar*/
#bookmarksBarContent toolbarbutton:not([container="true"]) label {
	display: none !important;
}

/* show text on bookmark toolbar on mouseover */
/*#bookmarksBarContent toolbarbutton:not([container="true"]):hover label {
	display: block !important;
}*/

/* unlimited sidebar width */
#sidebar {
	max-width: none !important;
}

/* highlight access keys (using square brackets) */
/*a[accesskey]:after,
button[accesskey]:after,
input[accesskey]:after,
label[accesskey]:after,
legend[accesskey]:after,
textarea[accesskey]:after {
	margin-left: 0.3em;
	color: plum;
	content: "[" attr(accesskey) "]";
}*/

/* highlight HTTPS URLs */
#urlbar[level] .autocomplete-textbox-container > * {
	background-color: #FFFFB7 !important;
}
