[user]
	name = FND
	email =
[core]
	pager = less -FRSX
[pager]
	status = true
[svn]
	rmdir = true
[clean]
	requireForce = true
[alias]
	patch = add --patch
	ci = commit -v
	cia = commit -a -v
	cim = commit -m
	ciam = commit -a -m
	amend = commit -v --amend
	co = checkout
	s = status
	stat = status -uno
	logs = log --stat
	logd = log --stat -p
	logui = log --all --graph --decorate --pretty='format:%C(yellow)%h%d %Cblue[%an]%Creset %s'
	diffi = diff -M --color-words
	diffw = diff -M -w
	diffx = diff -M -w --color-words
	diffc = diff --cached
	merges = merge --squash
	spull = svn rebase
	spush = svn dcommit
	fshow = ! sh -c 'git show --pretty="format:" --name-only $1 | grep -v "^$" | uniq | sed -e "s#^#`git rev-parse --show-toplevel`/#"' -
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	header = white
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	plain = white
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[log]
	date = iso
