[user]
	name = FND
[core]
	pager = less -FRSX
[pager]
	status = true
[svn]
	rmdir = true
[clean]
	requireForce = true
[alias]
	ci = commit -v
	cia = commit -a -v
	cim = commit -m
	ciam = commit -a -m
	co = checkout
	stat = status -uno
	logs = log --stat
	logd = log --stat -p
	logui = log --pretty=oneline --graph
	diffi = diff -M --color-words
	diffw = diff -M -w
	diffx = diff -M -w --color-words
	merges = merge --squash
	spull = svn rebase
	spush = svn dcommit
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	header = white
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	plain = white
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
