XTerm*Background: black
XTerm*Foreground: green
xterm*faceName: -misc-source sans mono-medium-r-normal-*-*-120-*-*-m-*-iso8859-1

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.autohint: 0
!Xft.hintstyle: hintslight
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
